{% import "macros.tera.html" as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ board.name }}</title>
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>
    {{ macros::board_list(boards=boards) }}
    <h1>{{ board.name }}</h1>
    <a href="/{{ board.slug }}/thread">new thread</a>
    <p>{{ board.description }}</p>
    <hr />

    <main style="display: grid; gap: 1rem">
      {% for thread in threads %}
      <!---->
      {{ macros::thread(thread=thread, board=board) }}
      <!---->
      {% endfor %}
    </main>
  </body>
</html>
