{% import "macros.tera.html" as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    {{ macros::board_list(boards=boards) }}

    <h2>Community notes</h2>
    <p>
      This community is strongly based on minimalism and aims to make the web
      less bloated as possible. However, don't be afraid to show your views on
      bloatware, we have a <a href="/boards/soydev">soydev</a> board where you
      can discuss your favorite js libraries or whatever you feel fits better
      the board.<br />
      Consider lurking for a while and reading the
      <a href="/rules">rules</a> before posting.
    </p>

    <footer>
      admin contact: <a href="mailto:augusto@hatejs.dev">augusto@hatejs.dev</a>
    </footer>
  </body>
</html>
